* {
    border: none;
    border-radius: 10px;
    font-family: SauceCodePro Nerd Font;
    font-size: 10pt;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(28, 28, 28, 0.3);
    color: #ffffff;
}

#workspaces,
#pulseaudio.out,
#pulseaudio.in,
#clock,
#cpu,
#tray,
#network,
#custom-notification,
#custom-user-menu,
#custom-power,
#custom-lock{
    background: rgba(28, 28, 28, 0.83);
    border-radius: 6px;
    font-weight: normal;
    font-style: normal;
}
#custom-reboot {
    background: rgba(28, 28, 28, 0.83);
    border-radius: 6px;
    font-weight: normal;
    font-style: normal;
}

#workspaces {
    margin: 5px 5px 5px 10px;
    padding: 0;
    border: solid 2px #ffffff;
    box-shadow: 0px 0px 5px #959595;
}

#workspaces button {
    color: #ffffff;
    margin: 0;
    padding: 0.2em 15px 0.2em 13px;
}

#workspaces button.visible {
    color: #ffffff;
}

#workspaces button.empty:not(.visible) {
    color: #000000;
}

#workspaces button:hover,
#workspaces button.empty:hover
{
    background-color: #ffffff;
    color: #ffffff;
}
#battery {
    border-radius: 5px;
    margin: 5px;
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 0px 15px;
    font-size: 12px; /* Yazı boyutu */
}

/* Batarya doluluk durumlarına göre renk değiştirme */
#battery.good {
    color: #00ff00; /* Yeşil - Batarya durumu iyi */
}

#battery.warning {
    color: #ffaa00; /* Turuncu - Batarya uyarı durumu */
}

#battery.critical {
    color: #ff0000; /* Kırmızı - Batarya kritik durumda */
}


#pulseaudio.out {
    border-radius: 6px 0px 0px 6px;
    margin: 5px 0px 5px 2px;
    padding: 0px 10px 0px 15px;
}

#pulseaudio.in {
    border-radius: 0 6px 6px 0;
    margin: 5px 2px 5px 0px;
    padding: 0px 15px 0px 10px;
}
#pulseaudio.out.zero:not(.muted) {
    color: #ffffff;
}

#pulseaudio.out.low:not(.muted) {
    color: #ffffff;
}

#pulseaudio.out.medium:not(.muted) {
    color: #ffffff;
}

#pulseaudio.out.sweet:not(.muted) {
    color: #ffffff;
}

#pulseaudio.out.loud:not(.muted) {
    color: #ffffff;
}

#pulseaudio.out.max:not(.muted) {
    color: #ffffff;
}

#pulseaudio.in {
    color: #ffffff;
}

#pulseaudio.out.muted,
#pulseaudio.in.source-muted {
    color: #808080;
}

#clock,
#cpu,
#tray,
#network,
#custom-notification,
#custom-user-menu,
#custom-power,
#custom-lock,
#custom-reboot {
    font-weight: bold;
    padding: 0 15px 0 13px;
    margin: 5px 2px;
    border: none;
}

#tray {
    background-color: rgba(28, 28, 28, 0.7);
    padding: 0px 15px;
}

#user {
    margin-right: 10px;
}

#custom-user-menu {
    color: #ffffff;
}

#custom-user-menu:hover {
    background-color: #445599;
    color: #d5c4a1;
}

#custom-power {
    background-color: #ff2222;
}

#custom-power:hover {
    background-color: #6b0000;
}

#custom-lock {
    background-color: #009912;
}

#custom-lock:hover {
    background-color: #005539;
}

#custom-reboot {
    background-color: #076678;
}

#custom-reboot:hover {
    background-color: #458588;
}

#custom-notification.cc-open {
    background-color: #282828;
}

#custom-notification.none {
    color: #ffffff;
}

#custom-notification.notification {
    background-color: #ffffff;
    color: #282828;
}

#custom-notification.dnd-notification,
#custom-notification.dnd-none
{
    color: #cc241d;
}
